## 编译输出目录 (Build output folders)
# 兼顾大小写
[Bb]in/
[Dd]ebug/
[Oo]bj/
[Rr]elease/
[Ww]in32/
[Ww]in64/
x64/
[Aa]rm/
[Aa]rm64/

## VS 本地缓存和设置 (IDE cache & user settings)
# 这个 .vs 文件夹通常非常大
.vs/

# 解决方案/项目级别的用户设置，不应共享
*.suo
*.user
*.sln.docstates
*.vcxproj.user
*.vcxproj.filters.user

## 编译产物 (Build products)
*.exe
*.dll
*.lib
*.pdb
*.obj
*.ilk
*.pch
*.ipch

## 调试/分析/日志文件 (Debug, profiling, and log files)
*.log
*.tlog
*.aps
*.map
*.sbr
*.sdf
*.db
*.VC.db
*.VC.opendb
*.idb
*.ipdb
*.iobj
*.vsidx
*.recipe

## 其他临时文件 (Other temp files)
*.tmp
*.bak
*.orig